{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}

        <div id="index-display"> 
            <h3>All Posts</h3>
            <br>
            <div id="new-post">
                <h5>New Post</h5>
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <textarea class="form-control" name="post-body" placeholder="Type post here"></textarea>
                    <input id="post-message" type="submit" class="btn btn-primary"/>
                </form>
            </div>
            <div id="all-posts">
            </div>
        </div>

        <div id="profile-display">
            <h3 id="profile-name"></h3>
            <br>
            <b>Followers: </b><b id="followers"></b>
            <b>Following: </b><b id="following"></b>
            <div id="profile-posts">
            </div>
        </div>

        <div id="following-display">
            <h3>Following</h3>
            <br>
            <div id="following-posts">
            </div>
        </div>


    {% else %}
        <strong> Login To See Posts</strong>
    {% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}

